
            header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              background-color: indigo;
              padding: 1em;
              position: fixed;
              top: 0;
              width: 100%;
              box-sizing: border-box;
            }
          
            .current-page {
              color: white;
              font-weight: bold;
            }
          
            nav ul {
              display: flex;
              list-style: none;
              margin: 0;
              padding: 0;
            }
          
            nav a {
              color: white;
              display: block;
              padding: 1em;
              text-decoration: none;
            }
            
            nav input {
              color: black;
              display: block;
              padding: 1em;
              text-decoration: none;
            }
          
            nav a:hover {
              background-color: rgba(255, 255, 255, 0.2);
            }
          
            @media (max-width: 500px) {
              header {
                flex-direction: column;
              }
          
              nav {
                display: none;
              }
          
              .menu-toggle {
                display: block;
                background-color: indigo;
                color: white;
                padding: 1em;
                cursor:crosshair
              }
          
              .menu-toggle:hover {
                background-color: rgba(255, 255, 255, 0.2);
              }
          
              .menu {
                display: none;
                background-color: indigo;
              }
          
              .menu a {
                display: block;
                padding: 1em;
                color: white;
                text-decoration: none;
              }
          
              .menu a:hover {
                background-color: rgba(255, 255, 255, 0.2);
              }
            }


            h3{ background-color: yellow;}