
  
   body{background-image: url(933512.jpg);
  background-attachment: fixed;
background-size: 100% 100%;
background-repeat: no-repeat;}

li{
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-size: cover;

}
 
  .container {
    width: 200px;
    max-width: 100px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    
  align-items: center;
  justify-content: center;
   
    
  }

  .form__button{
    width: 50%;
    padding: 1rem 2rem;
    font-size: larger;
    color: darkred;
    border: none;
    outline: auto;
    
  } .icon-menu{
    border-style: double
    ; float: left;
  }
  h1 {
     
  }
  

  